@model IEnumerable<DynamoEnterprises.DTOs.BlogsModel>

@{
    ViewData["Title"] = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="banner" class="jarallax position-relative"
         style="background-image: url(images/ProductImages/banner-img2.png); background-size: cover; background-repeat: no-repeat; background-position: center;">

    <div class="container-lg padding-medium">
        <div class="hero-content text-center">
            <h2 class="banner-title display-2 text-white">Single-Post</h2>
            <nav class="breadcrumb d-flex justify-content-center">
                <a class="breadcrumb-item nav-link text-white banner-title" href="index.html">Home</a>
                <a class="breadcrumb-item nav-link text-white banner-title" href="#">Pages</a>
                <span class="breadcrumb-item text-white banner-title active" aria-current="page">Single-Post</span>
            </nav>
        </div>
    </div>
</section>
<div class="post-grid padding-medium">
    <div class="container-lg">

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card bg-white p-4 border-0 rounded-0 ">
                    <a href="single-post.html"><img src="images/blog-1.jpg" class="img-fluid" alt="image"></a>
                    <div class="card-body p-0">
                        <p class="m-0 pt-3">10 Feb, Sun</p>
                        <a href="single-post.html" class="hover-color">
                            <h4 class="my-2">Premium Fabric</h4>
                        </a>
                        <p class="m-0">
                            The fabric defines comfort. Choose cotton, bamboo, or linen for a soft, breathable feel.<span>
                                <a href="single-post.html" class="text-decoration-underline">Read more</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card bg-white p-4 border-0 rounded-0 ">
                    <a href="single-post.html"><img src="images/blog-3.jpg" class="img-fluid" alt="image"></a>
                    <div class="card-body p-0">
                        <p class="m-0 pt-3">15 Mar, Mon</p>
                        <a href="single-post.html" class="hover-color">
                            <h4 class="my-2">Perfect Thread Count</h4>
                        </a>
                        <p class="m-0">
                            A 300–500 thread count in quality cotton offers the right balance between softness and breathability.  <span>
                                <a href="single-post.html" class="text-decoration-underline">Read more</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card bg-white p-4 border-0 rounded-0 ">
                    <a href="single-post.html"><img src="images/blog-2.jpg" class="img-fluid" alt="image"></a>
                    <div class="card-body p-0">
                        <p class="m-0 pt-3">22 Feb, Fri</p>
                        <a href="single-post.html" class="hover-color">
                            <h4 class="my-2">Right Weave Choice</h4>
                        </a>
                        <p class="m-0">
                            Percale is crisp, sateen is silky, and flannel is warm. Your climate and comfort preference should guide your choice of weave. <span>
                                <a href="single-post.html" class="text-decoration-underline">Read more</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card bg-white p-4 border-0 rounded-0 ">
                    <a href="single-post.html"><img src="images/blog-4.jpg" class="img-fluid" alt="image"></a>
                    <div class="card-body p-0">
                        <p class="m-0 pt-3">26 Apr, Tue</p>
                        <a href="single-post.html" class="hover-color">
                            <h4 class="my-2">Seasonal Comfort</h4>
                        </a>
                        <p class="m-0">
                            Use light, breathable cotton or bamboo in summer and cozy flannel or jersey in winter. <span>
                                <a href="single-post.html" class="text-decoration-underline">Read more</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card bg-white p-4 border-0 rounded-0 ">
                    <a href="single-post.html"><img src="images/blog-1.jpg" class="img-fluid" alt="image"></a>
                    <div class="card-body p-0">
                        <p class="m-0 pt-3">10 Feb, Sun</p>
                        <a href="single-post.html" class="hover-color">
                            <h4 class="my-2">Organic & Safe</h4>
                        </a>
                        <p class="m-0">
                            Organic sheets are free from harsh chemicals—perfect for sensitive skin or allergies. <span>
                                <a href="single-post.html" class="text-decoration-underline">Read more</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card bg-white p-4 border-0 rounded-0 ">
                    <a href="single-post.html"><img src="images/blog-3.jpg" class="img-fluid" alt="image"></a>
                    <div class="card-body p-0">
                        <p class="m-0 pt-3">15 Mar, Mon</p>
                        <a href="single-post.html" class="hover-color">
                            <h4 class="my-2">Perfect Fit</h4>
                        </a>
                        <p class="m-0">
                            Avoid loose or tight sheets. Match fitted sheets to mattress depth—standard, deep, or extra-deep pockets. <span>
                                <a href="single-post.html" class="text-decoration-underline">Read more</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card bg-white p-4 border-0 rounded-0 ">
                    <a href="single-post.html"><img src="images/blog-2.jpg" class="img-fluid" alt="image"></a>
                    <div class="card-body p-0">
                        <p class="m-0 pt-3">22 Feb, Fri</p>
                        <a href="single-post.html" class="hover-color">
                            <h4 class="my-2">Hypoallergenic Sheets</h4>
                        </a>
                        <p class="m-0">
                            For allergy-prone sleepers, bamboo, silk, and organic cotton are ideal. <span>
                                <a href="single-post.html" class="text-decoration-underline">Read more</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card bg-white p-4 border-0 rounded-0 ">
                    <a href="single-post.html"><img src="images/blog-4.jpg" class="img-fluid" alt="image"></a>
                    <div class="card-body p-0">
                        <p class="m-0 pt-3">26 Apr, Tue</p>
                        <a href="single-post.html" class="hover-color">
                            <h4 class="my-2">Low Maintenance</h4>
                        </a>
                        <p class="m-0">
                            Choose wrinkle-resistant sheets like microfiber or cotton blends. They save time on ironing and always look tidy. <span>
                                <a href="single-post.html" class="text-decoration-underline">Read more</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="card bg-white p-4 border-0 rounded-0 ">
                    <a href="single-post.html"><img src="images/blog-1.jpg" class="img-fluid" alt="image"></a>
                    <div class="card-body p-0">
                        <p class="m-0 pt-3">10 Feb, Sun</p>
                        <a href="single-post.html" class="hover-color">
                            <h4 class="my-2">Softness Over Time</h4>
                        </a>
                        <p class="m-0">
                            High-quality sheets like Egyptian cotton or linen get softer with each wash.  <span>
                                <a href="single-post.html" class="text-decoration-underline">Read more</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <nav aria-label="Page navigation example ">
            <ul class="pagination justify-content-center mt-5">
                <li class="page-item mx-md-2 "><a class="page-link" href="#">Previous</a></li>
                <li class="page-item mx-md-2 "><a class="page-link active" href="#">1</a></li>
                <li class="page-item mx-md-2 "><a class="page-link" href="#">2</a></li>
                <li class="page-item mx-md-2 "><a class="page-link" href="#">3</a></li>
                <li class="page-item mx-md-2 "><a class="page-link" href="#">4</a></li>
                <li class="page-item mx-md-2 "><a class="page-link" href="#">5</a></li>
                <li class="page-item mx-md-2 "><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

    </div>
</div>
